{% extends 'products/base.html' %}
{% load static %}

{% block css %}
    <link href="{% static 'css/index.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h1 class="mt-5">Чёрная икра</h1>
                    <p>
                        Хотите хорошо отдохнуть? Добро пожаловать в нашу гостиницу!.
                        Бесплатный (почти) трансфер от аэропорта! Скидки постоянным гостям и многое другое.
                    </p>
                    <button id="start-purchase-btn" type="button" class="btn btn-lg">
                        <a id="start-purchase-link" href="{% url 'products:index' %}">
                            Выбрать номер
                        </a>
                    </button>
                </div>
            </div>
        </div>
    </section>
{% endblock %}


